.background{
    position: fixed;
    display: flex;
    opacity: 1;
    z-index: -2;
}

.fixed-sns{
    position: fixed;
    display: flex;

    gap: 24px;
    
    color: white;

    bottom: 20px;
    right: 20px;

    z-index: 10;
}

.fixed-sns svg, .fixed-sns img {
  display: block;
}

.fixed-sns a .icon{
    transform: scale(1);
    transition: all 0.4s ease;
}

@media (hover: hover) and (pointer: fine) {
    .fixed-sns a:hover .icon{
        filter: drop-shadow(0 0 10px white);

        transform: scale(1.1);
        transition: all 0.1s ease;
    }
}

.fixed{
    position: fixed;
    display: flex;
    gap: 5%;

    top: 8px;
    justify-content: center;
    width: 100%;
    z-index: 1;
}
.fixed a{
    
    font-size: clamp(0.7rem, 4vw, 1rem);
    color: white;
    text-decoration: none;
    user-select: none;
}

@media (hover: hover) and (pointer: fine) {
    .fixed a:hover{
        text-decoration: underline;

        filter: drop-shadow(0 0 10px white);
    }
}

.main-content{
    background-color: rgba(var(--h1-color), 0.02);
}