.header {
    height: 100dvh;
    vertical-align: middle;

    display: flex;
    justify-content: center;
    align-items: center;

    
    font-size: var(--h1-size);
    color: var(--font);

    text-align: left;

    position: relative;

    user-select: none;
}

.header-content {
    width: 100%;
}