.header {
    height: 100dvh;
    @supports (height: 100dvh) {
        height: 100dvh;
    }

    vertical-align: middle;

    display: flex;
    justify-content: center;
    align-items: center;

    
    font-size: var(--h1-size);
    color: rgb(var(--font));

    text-align: left;

    position: relative;

    user-select: none;
}
.header .video {
    position: absolute;
    inset: 0;
    z-index: -2;
    overflow: hidden;
    
    opacity: 0.2;
}

.header .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(hover: hover) and (pointer: fine) {
    .header .video video {
        width: 100%;
        height: 100%;
        object-fit: cover;

        filter: blur(10px);
    }
}

.header-content {
    width: 100%;
}

.header .header-arrow{
    width: clamp(25px, 3vw, 50px);
    height: clamp(25px, 3vw, 50px);
    rotate: 45deg;

    border-bottom: 2px rgb(var(--h1-color)) solid;
    border-right: 2px rgb(var(--h1-color)) solid;

    animation: scroll 1.6s infinite ease-in-out;

    position: absolute;
    bottom: 100px;
}


@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0) translateX(0)
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(50px) translateX(50px);
    }
}