*{
    font-family: 'Fira Code', monospace;
}
:root{
  --font:#dcdcdc;
  --font-2:#a7a7a7;
  --vscode-color: #1e1e1e;
  --github-color: #000C18;
  --h1-color: #FF772D;
}
html,body{
  /* background-color: var(--vscode-color);  */
  scroll-behavior: smooth;
}
img {
  pointer-events: none;
}