*{
    font-family: 'Fira Code', monospace;
}

:root{
  --font:#dcdcdc;
  --font-2:#a7a7a7;
  --vscode-color: #1e1e1e;
  --github-color: #000C18;
  --h1-color: #FF772D;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--vscode-color); 

  position: relative;
}

body::before{
  content: "";
  position: absolute;
  inset: 0;
  background: url('/images/2ビットマップ.png') repeat top left;
  background-size: 1%;
  opacity: 0.2;
  filter: brightness(0);
  
  pointer-events: none; 
  z-index: -1; 
}

hr{
  border: none;
  height: 2px;
  background-color: var(--h1-color);
  margin: 5px 0;       
  opacity: 0.2;
}

img {
  pointer-events: none;
}