*{
    font-family: 'Fira Code', monospace;
}

:root{
  --font:#dcdcdc;
  --font-2:#a7a7a7;
  --vscode-color: #1e1e1e;
  --github-color: #000C18;
  --h1-color: #FF772D;

  --h1-size : clamp(1.8rem, 5vw, 3rem);
  --8_3: clamp(1.1rem, 2.5vw, 1.4rem);

  --16: clamp(0.8rem, 3vw, 1.1rem);
  --32: clamp(1.5rem, 6vw, 2rem);
  --40: clamp(2rem, 7vw, 2.5rem);
}

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
  background-color: var(--vscode-color); 

  position: relative;
}

body::before{
  content: "";
  position: absolute;
  inset: 0;
  background: url('/images/2ビットマップ.png') repeat top left;
  background-size: 10px;
  filter: brightness(0);
  
  pointer-events: none; 
  z-index: -1; 

  animation: breathe 10s  infinite;
}

hr{
  border: none;
  height: 2px;
  background-color: var(--h1-color);
  margin: 5px 0;       
  opacity: 0.2;
}

img {
  pointer-events: none;
}

@keyframes breathe{
  0%{ opacity: 0.2;}
  50%{ opacity: 0.5;}
  100%{ opacity: 0.2;}
}