.skills .test{
    color: var(--h1-color);
    opacity: 0.5;
    display: flex;
    gap: 4px;
    font-size: var(--8_2);
    margin: 0 10px;
}

.skills .skills-group{
    flex-wrap: wrap;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));



    gap: 30px;
}


.skills .skills-contents{
    margin-bottom: 100px;
    padding: 0;
    color: var(--font);
    text-align: center;
    font-size: 32px;
}

.skills .skill{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 350px;

    padding: 10px;
    
    text-align: left;

    font-size: var(--8_2);
    text-decoration: none;
    background-color: var(--font);
    box-shadow: 0px 0px 10px 0px black;

    border-radius: 10px;
}

.skills .skill:hover{
    transform: scale(1.05);
    transition: transform 0.05s ease;
}

.skills .skill .h1{
    font-size: var(--8_3);
    color: var(--h1-color);
}

.skills .skill .h2{
    font-size: var(--8_2);
    color: var(--vscode-color);
    
}

.skills .skill .icons{
    color: var(--vscode-color);
    opacity: 0.2;

    font-size: 32px;
    display: flex;
    gap: 8px;

    position: absolute;
    bottom: 10px;
    right: 10px;
}