.skills-new{
    padding-bottom: 100px;
}

.skills-new .test{
    color: var(--font);
    opacity: 0.5;
    display: flex;
    gap: 4px;
    font-size: 16px;
    margin: 0 10px;
}

.skills-new .skills-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.skills-new .skills-contents{
    margin-bottom: 100px;
    padding: 0;
    color: var(--font);
    text-align: center;
    font-size: 32px;
}

.skills-new .skill{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 350px;

    padding: 10px;
    
    text-align: left;

    font-size: 16px;
    text-decoration: none;
    background-color: var(--vscode-color);
    box-shadow: 0px 0px 10px 0px black;

}

.skills-new .skill:hover{
    transform: scale(1.05);
    transition: transform 0.05s ease;
}

.skills-new .skill .h1{
    font-size: 20px;
    color: var(--font);
    filter: drop-shadow(0 0 1px white);

}

.skills-new .skill .h2{
    font-size: 16px;
    color: gray;
    
}

.skills-new .skill .icons{
    color: white;
    opacity: 0.2;

    font-size: 32px;
    display: flex;
    gap: 8px;

    position: absolute;
    bottom: 10px;
    right: 10px;
    filter: drop-shadow(0 0 3px black);
}