
.skills-group{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.skills{
    padding-bottom: 100px;
}

.skills-contents{
    margin: 100 0;
    padding: 0;
    color: var(--font);
    text-align: left;
    font-size: 32px;
}

.skill{
    width: 170px;
    height: 135px;
}

.skill i{
    font-size: 80px;
}

.skill .name {
    opacity: 0; 
    position: absolute;
    text-wrap-mode: nowrap;
    display: inline-block;
}

.skill:hover .star {
    opacity: 0;
    transition: opacity 0.1s ease-out;
    position: absolute;
}
.skill:hover .name{
    opacity: 1;
    transition: opacity 0.02s ease-out;
    position: relative;
}