.about-me{
    margin: 0;
    padding: 0;
    height: 1000px;
    color: var(--font);
}

.content-h1 {
    padding: 50px 0px;
    color: var(--h1-color);
    font-size: 64px;
}


.footer{
    height: 50px;
    color: var(--font);
    
    align-items: center;
    
    display: flex;
}
.padding{
    padding-left: 10%;
    padding-right: 10%;
}