.about-me{
    margin: 0;
    padding: 0;
    color: var(--font);
}

.content-h1 {
    padding: 50px 0px;
    color: var(--h1-color);
    font-size: 64px;
}


.footer{
    height: 50px;
    color: var(--h1-color);

    background-color: rgb(from var(--font) r g b / 0.1);

    align-items: center;
    
    display: flex;
}
.padding-side{
    padding-left: 10%;
    padding-right: 10%;
}
.padding-bottom{
    padding-bottom: 100px;
}