.content-h1 {
    padding: 50px 0px;
    color: rgb(var(--h1-color));
    font-size: var(--h1-size);
}


.footer{
    height: 50px;
    color: rgb(var(--h1-color));

    background-color: rgba(var(--h1-color), 0.05);

    align-items: center;
    
    display: flex;
}
.padding-side{
    padding-left: 10%;
    padding-right: 10%;
}
.padding-bottom{
    padding-bottom: 10dvh;
}

.icon-16{
    width: clamp(1rem, 3vw, 1.2rem);
    height: clamp(1rem, 3vw, 1.2rem);
}
.icon-32 {
    width:  clamp(1.75rem, 6vw, 2rem);
    height: clamp(1.75rem, 6vw, 2rem);
}

.icon-40 {
    width:  clamp(2rem, 7vw, 2.5rem);
    height: clamp(2rem, 7vw, 2.5rem);
}

.font-16{
    font-size: clamp(1rem, 3vw, 1.2rem);
}
.font-32{
    font-size: clamp(1.75rem, 14vw, 2rem);
}
.font-40{
    font-size: clamp(2rem, 7vw, 2.5rem);
}