.content-h1 {
    padding: 50px 0px;
    color: var(--h1-color);
    font-size: var(--h1-size);
}


.footer{
    height: 50px;
    color: var(--h1-color);

    background-color: rgb(from var(--font) r g b / 0.1);

    align-items: center;
    
    display: flex;
}
.padding-side{
    padding-left: 110px;
    padding-right: 110px;
}
.padding-bottom{
    padding-bottom: 100px;
}