.background{
    position: fixed;
    display: flex;
    opacity: 1;
    filter: blur(0px) brightness(0.2);
    z-index: -2;
}

.fixed{
    position: fixed;
    display: flex;

    gap: 24px;
    
    color: white;

    bottom: 20px;
    right: 20px;

    z-index: 9999;
}

.fixed svg, .fixed img {
  display: block;
}

.fixed a .icon{
    filter: drop-shadow(0 0 10px black);
}


.fixed a:hover .icon{
    filter: drop-shadow(0 0 10px white);
}